.task {
    width: 90%;
    height: 25%;
    max-height: 120px;
    margin: auto;
    margin-top: 15px;
    background-color: #FFC742;
    border-radius: 25px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

.task-actions {
    float: right;
    margin: 8px;
    margin-bottom: 0;
}

/*Botao de Editar*/
.edit-button-task {
    background-color: transparent;
    border: none;
    width: 23px;
    margin: 7px;
    margin-top: -8px;
    margin-bottom: 0;
    opacity: 0.4;
    transition-duration: 500ms;
}

.edit-button-task:hover {
    opacity: 1;
}

.edit-button-task img{
    width: 100%;
    -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, .2));
}

/*Botao de Remover*/
.del-button-task {
    background-color: transparent;
    border: none;
    width: 20px;
    margin: 7px;
    margin-top: -15px;
    margin-right: 0;
    margin-bottom: 0;
    opacity: 0.4;
    transition-duration: 500ms;
}

.del-button-task:hover {
    opacity: 1;
}

.del-button-task img{
    width: 100%;
    margin-bottom: 8px;
    -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, .2));
}

/*Checkbox de Tarefa realizada*/
.done-task{
    width: 20px;
    height: 20px;
    opacity: 0.4;
    transition-duration: 500ms;
}

.done-task:hover {
    opacity: 1;
}

/*Conteudo das Tasks*/
.task-content{
    width: 90%;
    height: 55%;
    margin: auto;
    overflow-y: auto;
}